DB_HOST=localhost
DB_PORT=5432
DB_NAME=jobskill
DB_USER=jobskill
DB_PASSWORD=change_me

AIRFLOW_DB_NAME=airflow
MLFLOW_DB_NAME=mlflow

MLFLOW_TRACKING_URI=postgresql+psycopg2://
MLFLOW_ARTIFACT_ROOT=/opt/airflow/project/mlartifacts

MLFLOW_EXPERIMENT_NAME=jobskill-classifier
MIN_MODEL_ACCURACY=0.7
MIN_MODEL_F1_WEIGHTED=0.7

MODEL_NAME=job_classifier
MODEL_PATH=models/job_classifier.pkl
BEST_MODEL_PATH=models/best/job_classifier.pkl

AIRFLOW_JWT_SECRET=
AIRFLOW_API_SECRET_KEY=
AIRFLOW_FERNET_KEY=

LOW_CONFIDENCE_THRESHOLD=0.6
PREDICTION_TOP_K=3